*.gif
*.png
*.jpg
*.jpeg
*.bmp
*.ico
*.avi
*.pdf
*.html
*.vfb

# Doesn't work...
!data/*.gif
!data/*.png
!data/*.jpg
!data/*.jpeg

*.log
*.ini
*.csv
*.xml
*.lnk
*.ses
*.session

*.jar
*.zip
*.7z
*.class

*.pde+
*.pde-[0-9]
*.pde-
*.pdx
*.java+
*.java-

/libraries/
/tools/
/modes/

applet*/

sketch.properties

ConnectionInformation.properties
Processing-revisions*
application.*
plKeyStore
Tablet/code+
_Common Questions/
_SmallPrograms/DelaunayTriangles/co-de
_3rdPartyHelp/_WithData/proto_type
_3rdPartyHelp/_WithData/TextInput
_3rdPartyHelp/_WithData/HeroDesignVoronoiGenerator
_3rdPartyHelp/Pauline/FromPauline
UsingEclipse/.metadata
java.policy.applet
output*.txt
Baj
Bah
libraries/P8gGraphicsSVG/library/1.7
libraries/P8gGraphicsSVG/bin

VanillaForum.txt
ForumCategories.txt
Processing 3.0a issues.txt

